@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #ebebeb;
  --color-primary-dark: #171310;
}

body {
  font-family: "DM Sans", sans-serif;
}

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.font-story {
  font-family: "DM Mono", monospace;
}

::-webkit-scrollbar {
  display: none;
}
